body {
  margin: 0;
  padding: 0;
  font: 400 16px/24px monospace;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 36px;
}

hgroup {
  margin-left: 12px;
  position: relative;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

h1 {
  color: rgb(49, 212, 163);
}

h2 {
  font-size: 9px;
  position: absolute;
  margin-left: 3px;
  color: rgba(0, 0, 0, .5);
}
